* {
    box-sizing: border-box;
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
header a{
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 25px;
    font-style:inherit;
    color: black;
}
#main {
    max-width: 50%;
    line-height: 1.8;
    margin: 5% 25%;
    text-align: center;
    
}
#main h1{
    font-size: 36px;
}
#main p{
    font-size: 20px;  
}

.start-Button{
margin-top: 20px;
background-color: gold;
border-radius: 6px;
font-size: 16px;
letter-spacing: 0.25px;
color: black;
padding: 8px 28px;
cursor: pointer;
}
.button{
    margin-top: 20px;
    background-color: rgb(49, 59, 112);
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: black;
    padding: 8px 28px;
    cursor: pointer;
    }
